.game-container {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    position: relative;
    border: 1px solid #000;
}

#snake-head, #food {
    width: 20px;
    height: 20px;
    position: absolute;
}

#snake-head {
    background-color: #000;
}

#food {
    background-color: #f00;
}
